.about {
  padding: 150px 0;
}

.about-container {
  max-width: 1000px;
}

.image-container {
  position: relative;
  max-width: 410px;
  max-height: 350px;
}

.image-container img {
  border-radius: 15px;
  max-width: 100%;
  max-height: 100%;
}

.logo-container {
  position: absolute;
  bottom: -50px;
  right: -50px;
  background-color: white;
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
}

.logo-container img {
  max-width: 100%;
  max-height: 100%;
  animation: spin 10s linear infinite;
}

.logo-emoji-container {
  position: absolute;
  bottom: 25px;
  right: 22px;
}

.about-text-container {
  padding-left: 50px;
}

.about-text-container h5 {
  color: #147efb;
  font-weight: bold;
}

.about-text-container h3 {
  color: #2d2e32;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-text-container p {
  color: #767676;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 100px 0;
  }

  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .image-container:nth-child(1) {
    margin: 10px auto 70px;
  }

  .about-text-container {
    max-width: 550px;
    margin: auto;
    padding: 30px;
  }

  .image-container {
    max-width: 400px;
  }

  .logo-container,
  .logo-emoji-container {
    display: none;
  }
}
