.hero {
  background-color: #f9f9f9;
  height: 100vh;
}

.hero-main {
  margin: auto;
  padding: 100px 0;
}

.hero-image {
  display: flex;
  justify-content: end;
  align-items: center;
}

.hero-image img {
  height: 340px;
  width: 340px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid black;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-text h1 {
  font-weight: bold;
  font-size: 3rem;
}

.hero-text p {
  font-size: 1.2rem;
  font-weight: 500;
}

.hero-icons a {
  margin-right: 20px;
}

.tech-stack {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 1.5rem;
}

.tech-stack p {
  margin-top: 20px;
  font-weight: bold;
  color: #555555;
}

.tech-stack-icons {
  display: flex;
  gap: 30px;
}

.tech-stack-icons img {
  transition: transform 0.2s ease-in;
}

.tech-stack-icons img:hover {
  cursor: pointer;
  transform: translateY(-7px);
}

.tech-stack-separator-mobile {
  padding: 0;
  margin-top: -30px;
  width: 120px;
  height: 2px;
  background-color: #555555;
}

@media screen and (max-width: 768px) {
  .hero-text {
    text-align: center;
  }

  .hero-main {
    padding: 50px;
    max-width: 500px;
  }

  .hero-image {
    justify-content: center;
  }

  .hero-image img {
    height: 280px;
    width: 280px;
  }

  .hero-text h1 {
    margin-top: 40px;
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1.1rem;
  }

  .tech-stack {
    flex-direction: column;
  }

  .tech-stack-separator {
    display: none;
  }
}
