.project-preview-container {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-image-container {
  width: 470px;
  max-height: 370px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden;
}

.projectImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.project-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 20px;
  text-align: center;
  margin: 0px auto;
}

.project-text-container h3 {
  color: #2d2e32;
  font-size: 1.1rem;
  font-weight: bold;
}

.project-text-container p {
  color: #6e6e6e;
  font-weight: bold;
}
.project-text-container span {
  color: #434343;
  font-weight: bold;
}

.projects-links-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  white-space: nowrap;
  margin-top: 20px;
}

.projects-links-container a:hover {
  color: #147efb;
}

.projects-links-container a {
  display: flex;
  flex-direction: row;
  color: #2d2e32;
  text-decoration: none;
  font-weight: bold;
}

.project-row-reversed {
  display: flex;
  flex-direction: row-reverse;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: bold;
}

.skills-container span {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 992px) {
  .skills-container {
    margin: 10px auto 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-preview-container {
    max-width: 550px;
  }

  .project-image-container {
    margin: 20px auto 0;
    width: 90%;
  }

  .project-text-container {
    max-width: 370px;
    margin: 20px auto;
  }
}
